/* font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background-image: url("imgs/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1280px;
 margin: auto;

}
 .body-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 5px 30px 100px 5px rgba(17, 23, 41, 0.05);
    /* padding: 30px; */
}
#shop-list {
    background-color: #D2D5DA;
    padding: 20px 30px;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}
/*  */
.img-div{
    background: #fff;
    width: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#shop-list img{
    /* width: 150px; */
    height: 100%
    /* object-fit: cover; */
}
.materiel-dispo .phone{
    display: flex;
    /* align-items: center; */
    gap: 20px;
}
.materiel-dispo{
    margin-top: 50px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.heading span{
    background-color: #95AAD0;
    padding: 8px ;
    border-radius: 20px;  
    color: #fff;
    text-transform: uppercase;
}
h1{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.materiel-dispo .phone .desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}
.desc .right{
    display: flex;
    justify-content: space-between;
}
.materiel-dispo .phone .desc .object{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.desc .color{
    margin-top: 5px;
    font-weight: 600;
    color: #00000033;
    font-size: 20px;
    
}
hr{
    margin-top: 30px;
}
#shop-list .form-container input[type="submit"]{
    width: 200px;
}
#shop-list .form-container{
    margin-top: 30px;
    width: 100%;
  display: flex;
  gap: 10px;
}
#shop-list .form-container input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    
}
.form-container input[type="number"]{
    background-color: #fff;
}
 .coupon{
    padding: 10px 20px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    
} 
.total-spend{
    margin-top: 50px;
}

.total-spend p{
    display: flex;
    justify-content: space-between;
    line-height: 2;
    font-weight: 600;
}
.total-spend p span{
    color: #6C727F;
}
/* la seconde section */
#contact-form{
    padding: 20px 50px;
    width: 100%;
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
    margin-top: 80px;
}
#contact-form h2{
    margin-bottom: 20px;
    
}

#contact-form .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact-form .form2{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}
#contact-form .form2 .pays label{
    display: block;
}
.pays{
    width: 100%;
}
#Contact-form .form input{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 70px;
    font-size: 20px;
   
}
#contact-form .form2 select,input{
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    height: 70px;
    font-size: 20px;
    background-color: #F3F4F6;
    border: 1px solid #6C727F;
}
#contact-form label{
    /* font-size: 12px; */
    color: #6C727F;
    margin: 5px 0;
}

#contact-form button{
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    background-color: #1D1D1F;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #shop-list{
        width: 100%;
    }
    .body-container{
        flex-wrap: wrap;
        width: 100%;
    }
    #shop-list .container .materiel-dispo{
        flex-wrap: wrap;
        gap: 20px;
    }
    #contact-form .form2{
        flex-wrap: wrap;
    }
    #shop-list .form-container{
        flex-wrap: wrap;
    }
}